# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files (Helm templates, values, Chart.yaml, etc.)
[*.{yaml,yml}]
indent_style = space
indent_size = 2
max_line_length = 120

[*.md]
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = false

[*.{tpl,gotmpl}]
indent_style = space
indent_size = 2
max_line_length = 120

[Makefile]
indent_style = tab
indent_size = 4

# GitHub Actions workflows
[.github/workflows/*.{yml,yaml}]
indent_style = space
indent_size = 2
