on:
  push:
    branches: [master]
    tags: ["v*"]
  pull_request:
    branches: [master]
  workflow_call: {}

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    # 5 mins for the linter run, possibly 10 min for pre-commit env reinitialization
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version-file: .python-version
      - name: Cache pre-commit hooks
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|py3.12|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install Poetry
        run: pip install poetry
      - name: Setup Python dependencies cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-
      - name: Install dependencies
        run: make hook-setup
      - name: Run linters
        run: |
          make hook-lint
        env:
          CI_LINT_RUN: 1

  test-unit:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
          cache: pip
      - name: Install Poetry
        run: pip install poetry
      - name: Setup Python dependencies cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-
      - name: Install dependencies
        run: make hook-setup
      - name: Run unit tests
        run: make hook-test-unit

  test-integration:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
          cache: pip
      - name: Install Poetry
        run: pip install poetry
      - name: Setup Python dependencies cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-
      - name: Install dependencies
        run: make hook-setup
      - name: Run integration tests
        run: make hook-test-integration

